<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
                     debug="false">

  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%5p [%t] [%d{yyyy MMM dd HH:mm:ss}] (%F:%M:%L) [requestId=&quot;%X{requestId}&quot; client=&quot;%X{client}&quot; csp-error=&quot;%X{csp-error}&quot; accountNumber=&quot;%X{accountNumber}&quot;] - %m%n"/>
    </layout>
  </appender>

  <appender name="FileAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="$JETTY_HOME/ticketservice.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <param name="Append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%5p [%t] [%d{yyyy MMM dd HH:mm:ss}] (%F:%M:%L) [requestId=&quot;%X{requestId}&quot; client=&quot;%X{client}&quot; csp-error=&quot;%X{csp-error}&quot; accountNumber=&quot;%X{accountNumber}&quot;] - %m%n"/>
    </layout>
  </appender>

  <category name="com.walmart" additivity="false">
    <priority value="INFO"/>
    <appender-ref ref="FileAppender"/>
    <appender-ref ref="ConsoleAppender"/>
  </category>

  <category name="org.springframework.ws.transport.support.TransportUtils" additivity="false">
    <priority value="DEBUG"/>
    <appender-ref ref="FileAppender"/>
    <appender-ref ref="ConsoleAppender"/>
  </category>

  <root>
    <priority value="ERROR"/>
    <appender-ref ref="FileAppender"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>

</log4j:configuration>